/**
 * These are general css helpers
 * They will all begin with h_
 */

/* This will hide the spinner on thbe input. */
input.h_noSpinnerOnInput::-webkit-outer-spin-button,
input.h_noSpinnerOnInput::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.h_width-100percent {
    width: 100%;
}

.h_height-100percent {
    height: 100%;
}