/* Fonts */
body {
  font-family: sans-serif; }

input {
  box-shadow: 0px 0px 1px #333; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

div#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center; }

input {
  width: 100%;
  padding: 4px;
  margin: 8px 0;
  border-radius: 4px; }

/**
 * These are general css helpers
 * They will all begin with h_
 */
/* This will hide the spinner on thbe input. */
input.h_noSpinnerOnInput::-webkit-outer-spin-button,
input.h_noSpinnerOnInput::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

.h_width-100percent {
  width: 100%; }

.h_height-100percent {
  height: 100%; }

.App {
  max-width: 900px; }
